<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/styles/lib/bootstrap.min.css">

    <title>{{title}}</title>
    <link rel='stylesheet' href='/styles/style.css' />
  </head>
  <body>
    {{{body}}}

    <!-- jQuery, Tether, Bootstrap JS -->
    <script src="/js/lib/jquery-3.2.1.min.js"></script>
    <script src="/js/lib/tether.min.js"></script>
    <script src="/js/lib/bootstrap.min.js"></script>
  </body>
</html>
