// VARIABLES

// Fonts
$font-family: "Roboto", sans-serif;

// Colors
$body-bg: #fff;
$text-color: #444;
$link-color: #0275d8;
$link-color-hover: #025aa5;

$navbar-color: #234;
$navbar-text-color: #ace;

$footer-color: #234;
$footer-text-color: #aaa;
