<div class="auth-page change-password-page page-content-wrapper">
  <div class="auth-heading">
    <h1>{{config.title}}</h1>
    <h2>Change password</h2>
  </div>

  <!-- Form -->
  <div class="auth-content">
    <div class="card">
      <div class="card-block">
        <form class="auth-form" [formGroup]="form" (ngSubmit)="onSubmit(form.value)" id="password-reset-form">
          <div class="form-group" [ngClass]="{'has-error': (!oldPassword.valid && oldPassword.touched),
                                              'has-success': (oldPassword.valid && oldPassword.touched)}">
            <input [formControl]="oldPassword" type="password" class="form-control" id="oldPassword" placeholder="Old Password">
          </div>

          <div class="form-group" [ngClass]="{'has-error': (!password.valid && password.touched),
                                              'has-success': (password.valid && password.touched)}">
            <input [formControl]="password" type="password" class="form-control" id="password" placeholder="New Password">
          </div>

          <div class="form-group" [ngClass]="{'has-error': (!repeatPassword.valid && repeatPassword.touched),
                                              'has-success': (repeatPassword.valid && repeatPassword.touched)}">
            <input [formControl]="repeatPassword" type="password" class="form-control" id="password2" placeholder="Confirm new password">
            <span *ngIf="!passwords.valid && (password.touched || repeatPassword.touched)" class="help-block sub-little-text">Passwords don't match or too short.</span>
          </div>

          <div *ngIf="error" id="auth-error-message">{{ error }}</div>

          <div class="clearfix">
            <div class="btn-toolbar float-xs-right m-t-1">
              <button [disabled]="!form.valid" type="submit" class="btn btn-primary">Update password</button>
            </div>
          </div>
        </form>
        <div class="auth-context-switch">
          <a routerLink="/" href="#">Cancel</a>
        </div>
      </div>
    </div>
  </div>
</div>
